{% extends 'shop/base.html' %}
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  {% block register %}
  <div class="row" style="width:100%">
      {% for product in products %}
      <div class="col-lg-3">
        <img class="thumbnail" src="{{product.ImageURL}}">
        <div class="box-element product">
          <h6><strong>{{product.name}}</strong></h6>
          <hr>

          <button data-product ={{product.id}} data-action = "add" class="btn btn-outline-secondary add-btn update-cart"> Add to Cart</button>
          <a class="btn btn-outline-success" href="#">View</a>
          <h5 style="display: inline-block; float: right"><strong>${{product.price | floatformat:2}}</strong></h5>
        </div>
      </div>
      {% endfor %}
    </div>
  {% endblock register %}
</body>
</html>